.header {
    &__container {
        background-color: white;
        padding: 5px 15px;
        box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 4px 12px rgba(0, 0, 0, 0.08);
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        text-decoration: none;
        color: inherit;
    }

    &__menu {
        display: flex;
    }

    &__menuitem {
        margin: 10px;
        padding: 10px;
        background-color: #FFE3BB;

        a {
            text-decoration: none;
            color: #FF4F0F;
        }

        button {
            all: unset;
            cursor: pointer;
        }
    }

    &__authbutton {
        color: black !important;
    }
}